<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<!-- 彩色日志格式 -->
    <property name="CONSOLE_LOG_PATTERN" value=""/>


	
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>
    


    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>
    
	<logger name="com.codejam" additivity="false">
    	<level value="${log.level}" />
        <appender-ref ref="STDOUT" />
    </logger>
    

</configuration>